networks:
  shared-app:


services:
  ocserv:
    build:
      context: .
      dockerfile: Dockerfile-Ocserv
    image: ocserv_users_management:ocserv_with_api
    container_name: ocserv
    privileged: true
    env_file:
      - ./.env
    environment:
      ALLOW_ORIGINS: "http://${HOST}:3000,https://${HOST}:3443"
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - ./volumes/ocserv:/etc/ocserv
      - ./volumes/db:/app/db
    ports:
      - ${OCSERV_PORT:-443}:443/tcp
      - ${OCSERV_PORT:-443}:443/udp
    networks:
      - shared-app
    restart: unless-stopped

  log_stream:
    image: ocserv_users_management:log_stream
    build:
      context: .
      dockerfile: Dockerfile-Stream-Log
    container_name: log_stream
    volumes:
      - ./volumes/db:/app/db
      - /var/run/docker.sock:/var/run/docker.sock
    env_file:
      - ./.env
    networks:
      - shared-app
    depends_on:
      - ocserv
    restart: unless-stopped

  user_expiry:
    image: ocserv_users_management:user_expiry
    build:
      context: .
      dockerfile: Dockerfile-User-Expiry
    container_name: user_expiry
    volumes:
      - ./volumes/db:/app/db
    env_file:
      - ./.env
    depends_on:
      - ocserv
    restart: unless-stopped

  web:
    image: ocserv_users_management:web
    build:
      context: .
      dockerfile: Dockerfile-Web
      args:
        - LANGUAGES=${LANGUAGES}
    container_name: web
    volumes:
      - ./volumes/nginx/certs:/etc/nginx/certs
    env_file:
      - ./.env
    ports:
      - "3000:3000"
      - "3443:3443"
    networks:
      - shared-app
    depends_on:
      - ocserv
      - log_stream
    restart: unless-stopped

